        .card {
            position: relative;
            padding: 1rem 2rem;
            border-radius: 15px;
            text-decoration: none;
            background-color: rgb(245, 245, 245);
            transition: all .3s ease-in-out;
            img {
                background-blend-mode: multiply;
            }
            h3 {
                font-family: "Poppins";
                font-weight: 500;
                margin: .4rem 0 .5rem 0;
                color: #000;
            }
            .card_info {
                display: flex;
                font-size: .8rem;
                color: #9A9a9a;
            }
            p {
                font-family: "Poppins";
                font-weight: 300;
                margin: 0;
                font-size: .8rem;
                color: #9A9a9a;
            }
            &:hover {
                transform: scale(1.1);
            }
        }